<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ECoSConnector" version="1.2.0" targetFramework="net472" />
  <package id="ECoSCore" version="1.2.0" targetFramework="net472" />
  <package id="ECoSEntities" version="1.2.0" targetFramework="net472" />
  <package id="ECoSListener" version="1.2.2" targetFramework="net472" />
  <package id="ECoSUtils" version="1.2.0" targetFramework="net472" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net472" />
</packages>