<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ECoSCore" version="1.2.0" targetFramework="net461" />
  <package id="ECoSEntities" version="1.2.0" targetFramework="net461" />
  <package id="ECoSToolsLibrary" version="1.2.4" targetFramework="net461" />
  <package id="ECoSUtils" version="1.2.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
</packages>